RAIL_OVERPASS=1
OVERPASS_FAIL_THRESHOLD=2
RAIL_LOCAL_ONLY_MODE=0
STOPS_AUTOCOMPLETE_MIN=5
AUTOCOMPLETE_TIMEOUT_MS=20000
LONG_TRIP_SPAN_KM=2000
CORRIDOR_ISLAND_MAX_KM=12
PATROL_COVERAGE_THRESHOLD=0.99
RAILVISTA_COMMIT=
PORT=3000
CORS_ORIGIN=*
AMAP_KEY=